.common-select {
    padding: 8px;
    border-radius: 4px;
    background-color: #333;
    /* 暗い背景 */
    color: #fff;
    /* 白い文字 */
    border: 1px solid #444;
    cursor: pointer;
    font-size: 0.9rem;
    outline: none;
    transition: border-color 0.2s;
}

.common-select:focus {
    border-color: #646cff;
    /* フォーカス時にアクセントカラー */
}

.common-select option {
    background-color: #333;
    color: #fff;
}